$colors: (
    dark: (
        main: #040615,
        contrast: #fafafa
    ),
    light: (
        main: #fafafa,
        contrast: #040615
    ),
    accent: (
        main: #986dff,
        contrast: #040615
    )
);